body {
  display: flex;
  justify-content: center;
  align-items: center;
height: 100vh;
}
.slider {

width: 45vw;
overflow: hidden;
flex-direction: column;
}
.slider__wrapper {
  
display: flex;

width: 45vw;
max-height: 25vw;
transition: 1s;
}

.slider__slide {
  border-radius: 25px;
  object-fit: cover;
  width: 100%;
}
.controls {
  display: flex;
  font-size: 24px;
  margin-top: 20px;
}

.dot {
  width: 40px;
  height: 40px;
  background-color: rgb(20, 20, 85);
  border-radius: 20px;
  transition: .3s;
  border: 5px solid white;
}
.dot:hover {
  opacity: .7;
  transition: .3s;
  cursor: pointer;
}

.dot:active {
  background-color: rgb(33, 138, 230) !important;
}
.slider__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  width: 45vw;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
}

.slider__text {
  opacity: 1;
  font-family: 'Arial', sans-serif;
  transition: .5s;
  font-size: 24px;
}

._fade {
  transition: .5s;
  opacity: 0;
}

._inactive {
  opacity: 1;
}

._dot-active {
  transition: .5s;
  background-color: rgb(120, 160, 201) !important;
}

